<html>
<header><title>STT Test</title></header>
<body>
  Text will appear here.
<!-- <audio controls autoplay></audio> -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    let finalTranscript = '';
    let recognition = new window.SpeechRecognition();
    recognition.interimResults = true;
    recognition.maxAlternatives = 10;
    // recognition.continuous = true;
    recognition.continuous = false;
    recognition.onresult = (event) => {
      let interimTranscript = '';
      for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
        let transcript = event.results[i][0].transcript;
        if (event.results[i].isFinal) {
          finalTranscript += transcript;
        } else {
          interimTranscript += transcript;
        }
      }
      document.querySelector('body').innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</>';

    }

    recognition.onend = (event) => {
      // alert(finalTranscript);

      $.ajax({
        type: "POST",
        url: "http://ec2-3-85-164-61.compute-1.amazonaws.com/post_stt",
        data: JSON.stringify({ name: "Brian", query: finalTranscript }),
        contentType: "application/json; charset=utf-8",
        dataType: "json"
      })
      // .done(function() {
      //     alert( "done" );
      // })
      // .fail(function() {
      //   alert( "error" );
      // })
      .always(function() {
        alert( "posted to backend" );
      });
    }

    recognition.start();




</script>


</html>
