.chore-container {
    width: 40rem;
    padding: 1rem;
    background-color: lightgrey;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.chore {
    width: 100%;
    height: 15rem;
    background-color: white;
}

.chore-container:not(:first-child) {
    margin-top: 1rem;
}