.chore-container {
    padding: 1rem;
    background-color: #ff9a00;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chore-title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;

}



