.coin {
    position: relative;
    z-index: 3;
    width: 5rem;
    height: 5rem;
    background-color: #CCAC00;
    border-radius: 50%;
    /*box-shadow: 0rem 1.5rem 4rem rgba(black, .15);*/
    margin: .25rem;
}

.coin::before {
    content: "";
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: -.5rem;
    background-color: #FFD700;
}

.cent {
    position: absolute;
    z-index: 5;
    font-size: 3.5rem;
    font-weight: 700;
    left: 2rem;
    top: -3.5rem;
    color: #CCAC00;
}