.coin {
    position: relative;
    width: 10rem;
    height: 10rem;
    background-color: #FFD700;
    border-radius: 50%;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
}

.coin::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #CCAC00;
    transform: scale(2);
}